@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}



.colored-section1{
    background-color: #ff4c68;
    padding: 3% 15%;
    width: 100%;
}
.colored-section2{
background-color: #ff4c68;
width: 100%;
}
.discolored-section{
    width: 100%;
}
nav ul li{
    color: #ffffff80;
    cursor: pointer;
  font-size: .5rem;
}
nav ul li:hover{
    color: rgb(255, 255, 255);
}


.colored-section2 h1{
    font-family: 'Montserrat', sans-serif;
}

.dog-pic{
    /* vertical-align: middle; */
    border-style: none;
}

.carousel-section{
    background-color: #ef8172;
    width: 100%;
}

.tick,.goal,.heart{
    color: #ef8172;
}
.tick:hover,.goal:hover,.heart:hover{
    color: #ff4c68;
}

.photo img{
    border: none;
    width: 10.5%;
    height:9.8%;
    border-radius: 50%;
}
/* 
.carousel-section h2{
    font-size: 3.1rem;
    line-height: 1.5;
    font-weight: bold;
   
} */

.first-quote{
    text-align: center;
}

/* .photo{
    padding:2rem .2rem;
} */


.brands img{
    width:18%;
    height: 10%;
    cursor: pointer;
}

.pricing-section{
    width: 100%;
}
/* .first-pricing-div{
    border: 1px solid rgb(206, 206, 206);
    border-radius: .4rem;
} */

/* 
.first-pricing-div h3{
    border: 1px solid rgb(206, 206, 206);
} */

.pre-footer{
    width: 100%;
}
.footer-section{
    width: 100%;
}
.footer-section div i{
    cursor: pointer;
}

@media screen and (max-width:500px){
    .colored-section2{
        background-color: #ff4c68;
        padding: 10% ;
        width: 100%;
        }  
}
 
@tailwind base;
@tailwind components;
@tailwind utilities;